{%- assign enabled_currencies_size = shop.enabled_currencies | size -%}
{% if settings.show_multiple_currencies and enabled_currencies_size < 2 %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}

    <script>
    var shopCurrency = '{{ shop.currency }}';    

    document.addEventListener("DOMContentLoaded", function(event) { 
        // Pick your format here:
        // money_format or money_with_currency_format
        Currency.format = '{{ settings.currency_format | default: 'money_with_currency_format' }}';
        
        /* Sometimes merchants change their shop currency, let's tell our JavaScript file */
        Currency.moneyFormats[shopCurrency].money_with_currency_format = {{ shop.money_with_currency_format | strip_html | json }};
        Currency.moneyFormats[shopCurrency].money_format = {{ shop.money_format | strip_html | json }};

        window.cookieCurrency = Currency.cookie.read();

        // Select all your currencies buttons.
        var buttons = jQuery('#currencies a');

        // Fix for customer account pages.
        jQuery('span.money span.money').each(function() {
            jQuery(this).parents('span.money').removeClass('money');
        });

        // Saving the current price.
        jQuery('span.money').each(function() {
            jQuery(this).attr('data-currency-{{ shop.currency }}', jQuery(this).html());
        });

        // If there's no cookie or it's the shop currency.
        if (window.cookieCurrency == null || window.cookieCurrency == 'undefined' || window.cookieCurrency === shopCurrency) {
            buttons.removeClass('selected');
            jQuery('#currencies a[data-currency=' + shopCurrency + ']').addClass('selected');
            Currency.currentCurrency = shopCurrency;
        }
        else {
            Currency.convertAll(shopCurrency, window.cookieCurrency);
            buttons.removeClass('selected');
            jQuery('#currencies a[data-currency=' + window.cookieCurrency + ']').addClass('selected');
        }

        //variant change
        document.addEventListener('venue:variant:updated', function(event) {
            Currency.convertAll(shopCurrency, jQuery('#currencies a.selected').attr('data-currency'));
        });

        // When customer clicks on a currency button.
        buttons.click(function() {
            buttons.removeClass('selected');
            jQuery(this).addClass('selected');
            var newCurrency =  jQuery(this).attr('data-currency');
            Currency.convertAll(Currency.currentCurrency, newCurrency);
        });
        // For cart.
        $('body').on('afterCartLoad.ajaxCart', function(cart) {
            Currency.convertAll(shopCurrency, jQuery('#currencies a.selected').attr('data-currency'));
        });
    });
    </script>
{% endif %}