<link rel="dns-prefetch" href="https://cdn.judge.me/">
{{ shop.metafields.judgeme.settings }}
{% for count in (0..5) %}
  {% assign metafield_key = 'html_miracle_' | append: count %}
  {% assign current_metafield = shop.metafields.judgeme[metafield_key] %}
  {% unless current_metafield %} {% break %} {% endunless %}
  {{ current_metafield }}
{% endfor %}
<script data-cfasync="false" type="text/javascript" async data-src="https://cdn.judge.me/shopify_v2.js"></script>
<link rel="stylesheet" type="text/css" media="all" data-href="https://cdn.judge.me/shopify_v2.css">