<!-- Network optimisations -->
<link rel="preload" as="style" href="{{ 'theme-critical.scss.css' | asset_url }}">
{%- if settings.anim_load -%}
<link rel="preload" as="script" href="{{ 'scrollreveal.min.js' | asset_url }}">
{%- endif -%}
<link rel="preconnect" href="//cdn.shopify.com" crossorigin>
<link rel="preconnect" href="//fonts.shopifycdn.com" crossorigin>
<link rel="preconnect" href="//v.shopify.com" crossorigin>
<link rel="preconnect" href="//ajax.googleapis.com" crossorigin>
<link rel="dns-prefetch" href="//productreviews.shopifycdn.com">
<link rel="dns-prefetch" href="//maps.googleapis.com">
<link rel="dns-prefetch" href="//maps.gstatic.com">