{%- assign option_name = option.name | downcase -%}
{%- assign color_swatch_options = "color, colour" | split: ", " -%}
{%- assign current_option = "option" | append: option.position -%}


<div class="product-single__swatch js-product-single-swatch" data-option-index="{{ option.position }}">

    <h4 class="product-single__swatch__title h6">
        {{ option.name }}
        {% if color_swatch_options contains option_name and style == 'swatches' %}
            <span class="product-single__swatch__sub-title js-swatch-variant-title"></span>
        {% endif %}
    </h5>

    {% if option_name == 'size' %}

        {% for variant in product.variants %}
            {% assign opt_handle = 'option' | append: option.position %}
            {% assign v_name = variant[opt_handle] %}
            {% capture id %}product-single__swatch-{{ option.position }}-{{ v_name | handle }}{% endcapture %}

            {% assign checked = "" %}
            {% if current_variant == variant %}
                {% assign checked = 'checked="checked"' %}
            {% endif %}

            <div class="product-single__swatch__item">
                <input type="radio" class="product-single__swatch__input u-hidden-visually" id="{{ id }}" name="{{ option_name }}" value="{{ v_name | escape }}" data-position="{{ option.position }}" {{ checked }} />
                <label for="{{ id }}" class="product-single__swatch__label {% unless variant.available %}sold_out{% endunless %}">{{ v_name }}</label>
            </div>
        {% endfor %}

    {% else %}
        {% for value in option.values %}

            {%- assign image_url = value | handle | append: '.png' | asset_img_url: '68x' -%}
            {%- assign swatch_color = value | handle | replace: '-', '' -%}
            {%- assign color_name = value | handle | downcase -%}

            {% include 'swatch-colors' %}

            {%- assign custom_color_var = 'swatch_color_' | append: swatch_color -%}
            {%- capture custom_color -%}{{ [custom_color_var] }}{%- endcapture -%}

            {%- if custom_color != blank -%}
                {%- assign swatch_css_color = custom_color -%}
            {%- elsif css_color_names contains swatch_color -%}
                {%- assign swatch_css_color = swatch_color -%}
            {%- else -%}
                {%- assign swatch_css_color = '#ddd' -%}
            {%- endif -%}

            {% capture id %}product-single__swatch-{{ option.position }}-{{ value | handle }}{% endcapture %}

            {% assign checked = "" %}
            {% if current_variant[current_option] == value %}
                {% assign checked = 'checked="checked"' %}
            {% endif %}

            {% comment %} if color swatch {% endcomment %}
            {% if color_swatch_options contains option_name and style == 'swatches' %}
                <div class="product-single__swatch__item product-single__swatch__item--color js-swatch-color-item">
                    <input type="radio" class="product-single__swatch__input u-hidden-visually" id="{{ id }}" name="{{ option_name }}" value="{{ value | escape }}" data-position="{{ option.position }}" {{ checked }}/>
                    <label for="{{ id }}" class="product-single__swatch__label">
                        <span class="product-single__swatch__label__graphic{% if color_name == 'white' %} product-single__swatch__label__graphic--white{% endif %}" style="background-color: {{ swatch_css_color }};{% if section.settings.use_swatch_images %}background-image: url({{ image_url }}){% endif %}"></span>
                        <span class="u-hidden-visually">{{ value }}</span>
                    </label>
                </div>
            {% comment %} if regular swatch {% endcomment %}
            {% else %}
                <div class="product-single__swatch__item">
                    <input type="radio" class="product-single__swatch__input u-hidden-visually" id="{{ id }}" name="{{ option_name }}" value="{{ value | escape }}" data-position="{{ option.position }}" {{ checked }} />
                    <label for="{{ id }}" class="product-single__swatch__label">{{ value }}</label>
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}


</div>