<div class="product js-product{% if settings.product_grid_detail_style == 'hover' %} product--details-hover{% endif %}{% unless product.available %} product--sold-out{% endunless %}{% if product.compare_at_price > product.price and product.available %} product--sale{% endif %} product--{% if settings.product_grid_image_size contains "crop" %}crop{% elsif settings.product_grid_image_size contains "fit" %}fit{% else %}natural{% endif %} product--{{ settings.product_grid_align }}{% if page == 'home' %} home-products__item{% endif %} ">

    {% if settings.product_grid_label %}

        <!-- custom label -->
        {% assign custom_label = false %}
        {% for collection in product.collections %}
            {% if collection.title == collections[settings.product_grid_label_collection].title %}
                {% assign custom_label = true %}
            {% endif %}
        {% endfor %}

        <!-- new label -->
        {% assign new_label = false %}
        {% assign product_created_at = product.created_at | date: '%s' %}
        {% assign time_ago = 'now' | date: '%s' | minus: product_created_at | divided_by: 86400 %}
        {% if time_ago < settings.product_grid_label_new_days %}
           {% assign new_label = true %}
        {% endif %}

        {% if product.available == false %}
            <div class="product__label label label--light">
                <p class="product__label-text label__text">{{ 'products.product.sold_out' | t }}</p>
            </div>
        {% elsif custom_label %}
            <div class="product__label label label--brand">
                <p class="product__label-text label__text">{{ settings.product_grid_label_title }}</p>
            </div>
        {% elsif product.compare_at_price > product.price %}
            <div class="product__label label label--brand">
                {% if settings.product_grid_label_sale_style == 'text' %}
                    <p class="product__label-text label__text">{{ 'products.product.on_sale' | t }}</p>
                {% else %}
                    <p class="product__label-text label__text">-{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | round }}%</p>
                {% endif %}
            </div>
        {% elsif new_label and settings.product_grid_label_new %}
            <div class="product__label label label--brand">
                <p class="product__label-text label__text">{{ 'products.product.new' | t }}</p>
            </div>
        {% endif %}
        
    {% endif %}
    
    <div class="product-top">
        <a href="{{ product.url | within: collection }}" class="product-link js-product-link{% if page == 'home' %} home-products__link{% endif %}" title="{{ product.title }}" tabindex="-1">
            <div class="product__media{% if settings.product_grid_second_hover and product.images[1] != blank %} product__media--hover{% endif %}">

                {% case settings.product_grid_image_size %}
                    {% when 'natural' %}
                        {%- assign product_ratio = 'custom' -%}
                    {% when 'fit-square' or 'crop-square' %}
                        {%- assign product_ratio = '1:1' -%}
                    {% when 'fit-short' or 'crop-short' %}
                        {%- assign product_ratio = '4:3' -%}
                    {% when 'fit-tall' or 'crop-tall' %}
                        {%- assign product_ratio = '2:3' -%}
                {% endcase %}

                <div class="o-ratio o-ratio--{{ product_ratio }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>

                    <div class="o-ratio__content">
                        
                        <div class="theme-spinner"></div>

                        {% if settings.product_grid_second_hover and product.images[1] != blank %}
                            <div class="product__img-hover img-lazyload lazyload js"
                                data-bgset="{% include 'bgset', image: product.images[1] %}"
                                data-sizes="auto"
                                data-parent-fit="cover"></div>
                            <noscript>
                                <div class="product__img-hover" style="background-image: url('{{ product.images[1] | img_url: '720x720' }});">
                                </div>
                            </noscript>
                        {% endif %}

                        {%- assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="product__img img-lazyload lazyload js"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512]"
                            data-sizes="auto"
                            alt="{{ product.featured_image.alt | escape }}">
                        <noscript>
                            <img class="product__img"
                                src="{{ product.featured_image.src | img_url: '720x' }}" 
                                alt="{{ product.featured_image.alt | escape }}">
                        </noscript>

                    </div>
                </div>

            </div>
        </a>
    
        {% unless settings.product_grid_quick_buy == 'disabled' %}
            <div class="product-btn product-btn--{{ settings.product_grid_quick_buy }}">
                {% if product.available == false %}
                    <a href="{{ product.url | within: collection }}" class="c-btn c-btn--full c-btn--light c-btn--small-tab product-btn__btn">{{ 'products.product.sold_out' | t }}</a>
                {% elsif product.variants.size > 1 %}
                    <div class="product-options-wrapper">
                        <button class="c-btn c-btn--primary c-btn--full no-border" data-swatch-expand>{{ 'products.product.select_options' | t }}</button>
                        {% form 'product', product, class: "js-product-form" %}

                            <div class="option-label">
                                {{ product.options.first }}
                                <span class="form-close">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                                        <g><g>
                                            <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
                                            L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
                                            c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
                                            l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
                                            L284.286,256.002z"></path>
                                        </g></g>
                                    </svg>
                                </span>
                            </div>

                            {% comment %}
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                            {% endcomment %}

                            <div class="product-swatches">
                                {% for variant in product.variants %}
                                    <div class="product-swatch">
                                        <input type="radio" name="id" id="swatch-option-{{ product.id }}-{{ forloop.index }}" value="{{ variant.id }}" id="" {% if forloop.first %}checked{% endif %} data-available={% if variant.available %}true{% else %}false{% endif %}>
                                        <label class="product-single__swatch__label {% unless variant.available %}sold_out{% endunless %}" for="swatch-option-{{ product.id }}-{{ forloop.index }}">{{ variant.option1 }}</label>
                                    </div>
                                {% endfor %}
                            </div>

                            <button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--primary c-btn--small-tab product-btn__btn js-product-add {% unless product.variants.first.available %}disabled{% endunless %}" {% unless product.variants.first.available %}disabled{% endunless %}>
                                <span class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                                <span class="js-product-soldout-text">{{ 'products.product.sold_out' | t }}</span>
                            </button>
                        {% endform %}
                    </div>
                    {% comment %}
                    <a href="{{ product.url | within: collection }}" class="c-btn c-btn--full c-btn--primary c-btn--arrow c-btn--small-tab product-btn__btn">{{ 'products.product.select_options' | t }}</a>
                    {% endcomment %}
                {% else %}
                    {% form 'product', product, class: "js-product-form" %}
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--primary c-btn--small-tab product-btn__btn js-product-add">
                            <span class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                        </button>
                    {% endform %}
                {% endif %}
            </div>
        {% endunless %}
    </div>

    <a href="{{ product.url | within: collection }}" class="product-link js-product-link{% if page == 'home' %} home-products__link{% endif %}" title="{{ product.title }}">
        <div class="product__details">
            <h3 class="product__title h4">{{ product.title }}</h3>

            {% if settings.product_grid_vendor %}
                <h4 class="product__vendor h6">{{ product.vendor }}</h4>
            {% endif %}

            <div class="product__details__hover">
                {% if settings.product_grid_price %}
                    
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
<p class="product__price h5">
                        {% include 'product-price' %}
                    </p> 
                {% endif %}

                {% if settings.product_grid_swatch %}
                    {% include 'product-grid-swatch' %}
                {% endif %}

                {% if settings.product_reviews and settings.product_grid_reviews %}
                    <div class="product__reviews">
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    </div>
                {% endif %}
            </div>

        </div>
    </a>

</div>