{%- capture tabs %}
  {%- capture content %}<h6>WE PROUDLY STAND BEHIND THE QUALITY OF OUR PRODUCTS AND WE WANT YOU TO BE THRILLED WITH THEM, TOO! IF YOU ARE NOT PLEASED WITH YOUR PURCHASE, YOU CAN EXCHANGE UNWORN PRODUCTS OR RETURN THEM FOR A FULL REFUND.&nbsp;&nbsp;&nbsp;</h6>
<h5>USA RETURN &amp; EXCHANGE POLICY</h5>
<p>*All Sale &amp; Discounted items are a Final Sale (this includes $10 Tuesday Ties). Due to the seasonal nature of our styles, and our rapidly rotating inventory, we cannot alter our exchange policy for Holidays.</p>
<p>Unworn products in their original packaging can be returned for a full refund to the original payment method for up to 14 days from the shipping date. Refunds are not issued until the return has been received and inspected at our fulfillment center. We can only accept returns/exchanges purchased directly from BoonTies.com. Orders from Amazon.com or other suppliers cannot be returned to our fulfillment center. Your $3.50 shipping fee is nonrefundable. Customers are responsible for return shipping costs. A $5 Restocking Fee will be deducted from returns over 3 items.</p>
<p>*All sale items are Final (this includes $10 Tuesday Items and any discounted items).</p>
<p>To begin a return or exchange,&nbsp;email&nbsp;<a title="Contact Page for Boon Ties" href="https://boonties.com/pages/copy-of-contact-boon">hello@boonties.com</a>&nbsp;with your order number and what you'd like to exchange your products for.</p>
<h5>CANADA RETURN &amp; EXCHANGE POLICY</h5>
<p>Products can be returned for a full refund to the original payment method for up to 30 days from the purchase date. Products must be unworn and in their original packaging. Customers are responsible for return shipping costs. All sale items are final.&nbsp;</p>
<p>To begin a return or exchange,&nbsp;<strong>Email Hello@boonties.com</strong><strong>&shy;</strong></p>
<h5>INTERNATIONAL ORDERS</h5>
<p>All purchases made outside of the United States and Canada are final.</p>
<p>THANK YOU for being a Boon customer! Please reach out to us at hello@boonties.com with any questions or concerns!&nbsp;</p>
<h2>SHIPPING&nbsp;</h2>
<h5>PROCESSING TIME</h5>
<p>Orders placed on week days typically ship the same or the following business day. Please allow up to 3 business days for orders to ship. Once your order has shipped, you will receive an email with the tracking information so you can follow your order online. Delivery times are estimates and are not guaranteed due to possible delays at the post office outside of our control. If you experience delays please contact&nbsp;<a title="Contact Page" href="https://boonties.com/pages/copy-of-contact-boon">hello@boonties.com</a>. We will look into your order.</p>
<h5>US ORDERS</h5>
<p>All US orders will be shipped and delivered via United States Postal Service (USPS) as First-Class Mail. US First-Class Mail shipping times vary between 3-5 business days depending on the city of destination. Customers have the option to upgrade to Priority Mail for 2-4 day delivery or Priority Mail Express for 1-2 day delivery. Shipping time depends on the city of destination.</p>
<h5>INTERNATIONAL ORDERS</h5>
<p>All International orders are set to be delivered via USPS International Priority mail. Prices are displayed at checkout.</p>
<h5>SHIPPING LIABILITY</h5>
<p>We are&nbsp;not liable for items lost or stolen in the delivery process&nbsp;and upon delivery of merchandise to the carrier (USPS) you will assume the risk of loss and title for the merchandise. You are responsible for any additional shipping charges and fees incurred from customs clearance including any duties and additional taxes (orders outside of US).</p>
<h5>COSTS</h5>
<ul>
<li>All orders over $45 shipping within the United States ship for FREE</li>
<li>All orders under $45 shipping within the United States - $3.50</li>
<li>Priority Upgrade (2-3 business days) - $7.95</li>
<li>Express Upgrade (1-2 business days) - $32.95</li>
<li>International Shipping is $14.95 to Canada and $22.00 to all other countries</li>
</ul>{% endcapture -%}
  72536^^Return Policy^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^^^^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->