
{%- capture header_content -%}{{- content_for_header -}}{%- endcapture -%}

{%- if header_content contains 'tabs-by-station.js' -%}
  {%- capture tabs_order -%}
    {%- if shop.metafields.station_tabs.pro_tabs_order != blank -%}
      {{ shop.metafields.station_tabs.pro_tabs_order }}
    {%- else -%}
      {%- include 'station-tabs-order' -%}
    {%- endif -%}
  {%- endcapture -%}
  
  {%- if template.name == 'product' -%}
    <div id="station-tabs-data">
      <!-- begin station data -->
      {% capture tabs_data %}{% include 'station-tabs-data', tabs_order: tabs_order %}{% endcapture %}
      {%- if tabs_data contains 'station-tabs-data' -%}{{ tabs_data }}{%- endif -%}

      <script id="station-tabs-product-json" type="application/json">{"productDescriptionHTML": {{ product.description | json }}}</script>
      <!-- end station data -->
    </div>
  {%- endif -%}

  <style id="station-tabs-main-style">
    div[data-station-tabs-app]{clear:both}div[data-station-tabs-app].is-hidden{visibility:hidden}.station-tabs:not([data-station-tabs]){border-color:currentColor;border-style:solid !important;border-width:0;clear:both;display:flex;flex-wrap:wrap;margin:1em 0;position:relative;z-index:0}.station-tabs:not([data-station-tabs]):first-child{margin-top:0}.station-tabs:not([data-station-tabs]):last-child{margin-bottom:0}.station-tabs:not([data-station-tabs]):empty{display:none}.station-tabs:not([data-station-tabs]).mod-hide-focus .station-tabs-link:focus,.station-tabs:not([data-station-tabs]).mod-hide-focus .station-tabs-content:focus{outline:0}.station-tabs:not([data-station-tabs])>[role="tablist"]{position:absolute}.station-tabs .station-tabs-link{-webkit-tap-highlight-color:rgba(0,0,0,0);border-color:currentColor;border-style:solid !important;border-width:0;box-sizing:border-box;display:inline-block;position:relative;text-decoration:none !important;white-space:nowrap;width:initial;z-index:1}.station-tabs .station-tabs-link:hover,.station-tabs .station-tabs-link:focus{opacity:1}.station-tabs .station-tabs-link.is-active{color:inherit}.station-tabs .station-tabs-link:after{border-width:0 !important}.station-tabs .station-tabs-link:first-child.is-active+.station-tabs-content{border-top-left-radius:0}.station-tabs .station-tabs-link span{color:inherit !important}.station-tabs:not([data-station-tabs]) .station-tabs-content{box-sizing:border-box;height:0;order:1;overflow:hidden;position:relative;width:100%}.station-tabs:not([data-station-tabs]) .station-tabs-content:not(.is-active){height:0 !important;visibility:hidden}.station-tabs:not([data-station-tabs]) .station-tabs-content.is-active{height:auto}.station-tabs:not([data-station-tabs]) .station-tabs-content iframe,.station-tabs:not([data-station-tabs]) .station-tabs-content img,.station-tabs:not([data-station-tabs]) .station-tabs-content video{max-width:100%}.station-tabs:not([data-station-tabs]) .station-tabs-content img{height:auto}.station-tabs:not([data-station-tabs]) .station-tabs-content iframe{border-width:0}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner{border-color:currentColor;border-style:solid !important;border-width:0;box-sizing:border-box;width:100%}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner ul,.station-tabs:not([data-station-tabs]) .station-tabs-content-inner ol{padding:0 !important;margin-left:3em !important}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner ul li{list-style:disc !important}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner ul li ul li{list-style:circle !important}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner ol li{list-style:decimal !important}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner>p:last-child,.station-tabs:not([data-station-tabs]) .station-tabs-content-inner>ol:last-child,.station-tabs:not([data-station-tabs]) .station-tabs-content-inner>ul:last-child{margin-bottom:0}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner:before,.station-tabs:not([data-station-tabs]) .station-tabs-content-inner:after{content:'';display:table}.station-tabs:not([data-station-tabs]) .station-tabs-content-inner:after{clear:both}.station-tabs:not([data-station-tabs]).mod-full-width{display:block}.station-tabs:not([data-station-tabs]).mod-full-width:empty{display:none}.station-tabs:not([data-station-tabs]).mod-full-width .station-tabs-link{display:flex !important;white-space:normal;width:auto}.station-tabs:not([data-station-tabs]).mod-full-width .station-tabs-link span{flex-grow:1}.station-tabs:not([data-station-tabs]).mod-full-width .station-tabs-content{transition:height 300ms}.station-tabs:not([data-station-tabs]).mod-full-width .station-tabs-content:not(.is-active){transition:height 300ms 0ms, visibility 0ms 300ms}.station-tabs:not([data-station-tabs]).mod-full-width .station-tabs-content:last-child .station-tabs-content-inner{margin-bottom:0;padding-bottom:0}
 
    .station-tabs.mod-full-width .station-tabs-link{align-items:center;justify-content:space-between}.station-tabs.mod-full-width .station-tabs-link:after{border-color:currentColor;content:'';display:block;flex-shrink:0;font-weight:normal;margin-left:20px;position:static !important;width:auto !important;border-bottom:1px solid !important;border-right:1px solid !important;margin-right:3px;margin-top:-3px;transform:rotate(45deg);height:6px !important;width:6px !important}.station-tabs.mod-full-width .station-tabs-link.is-active:after{margin-top:3px;transform:rotate(-135deg)}.station-tabs.mod-full-width.mod-ie9 .station-tabs-link:after{float:right}
 
    .station-tabs .station-tabs-link{border-radius:3px 3px 0 0 !important;padding:12px 24px !important;margin:0 4px -1px 0 !important;border-width:1px 1px 0 1px !important;border-color:#e1e1e1 !important;}.station-tabs.mod-full-width .station-tabs-link, .station-tabs-tabset.mod-vertical .station-tabs-link{border-radius:0 !important;padding:14px 24px !important;margin:0 !important;border-width:1px 0 0 !important;}.station-tabs .station-tabs-tab{border-radius:3px 3px 0 0 !important;padding:12px 24px !important;margin:0 4px -1px 0 !important;border-width:1px 1px 0 1px !important;border-color:#e1e1e1 !important;}.station-tabs.mod-full-width .station-tabs-tab, .station-tabs-tabset.mod-vertical .station-tabs-tab{border-radius:0 !important;padding:14px 24px !important;margin:0 !important;border-width:1px 0 0 !important;}.station-tabs .station-tabs-link.is-active{font-weight:600 !important;background-color:#FFFFFF !important;background-color:#FFFFFF !important;}.station-tabs .station-tabs-tab.is-active{font-weight:600 !important;background-color:#FFFFFF !important;background-color:#FFFFFF !important;}.station-tabs .station-tabs-content-inner{background-color:#FFFFFF !important;border-color:#e1e1e1 !important;padding:24px 0 0 !important;border-width:1px 0 0 0 !important;}.station-tabs .station-tabs-tabcontent{background-color:#FFFFFF !important;border-color:#e1e1e1 !important;padding:24px 0 0 !important;border-width:1px 0 0 0 !important;}.station-tabs.mod-full-width .station-tabs-content-inner, .station-tabs-tabset.mod-vertical .station-tabs-content-inner{padding:10px 24px 24px !important;border-width:0 !important;border-radius:0 !important;}.station-tabs.mod-full-width .station-tabs-tabcontent, .station-tabs-tabset.mod-vertical .station-tabs-tabcontent{padding:10px 24px 24px !important;border-width:0 !important;border-radius:0 !important;}.station-tabs.mod-full-width , .station-tabs-tabset.mod-vertical {border-width:1px !important;border-radius:3px !important;border-color:#e1e1e1 !important;}.station-tabs.mod-full-width station-tabs-tabset, .station-tabs-tabset.mod-vertical station-tabs-tabset{border-width:1px !important;border-radius:3px !important;border-color:#e1e1e1 !important;}.station-tabs.mod-full-width .station-tabs-link:first-of-type, .station-tabs-tabset.mod-vertical .station-tabs-link:first-of-type{border-width:0 !important;}.station-tabs.mod-full-width .station-tabs-tabtitle:first-of-type .station-tabs-tab, .station-tabs-tabset.mod-vertical .station-tabs-tabtitle:first-of-type .station-tabs-tab{border-width:0 !important;} 
  </style>

  <script id="station-tabs-main-script" type="text/javascript">
    
    ;(function(){
      window.Station = window.Station || {};window.Station.Apps = window.Station.Apps || {};


      window.Station.Apps.Tabs = {
        version: '5.0.2',
        level: 'amery',
        proxy_path: '/apps/station-tabs',
        order: {% if tabs_order contains 'Liquid error' %}[]{% else %}{{ tabs_order }}{% endif %},
        settings: {"dev_mode":false,"product_autosplit":true,"product_autosplit_heading":"h3","product_description_tab":true,"product_description_tab_title":"Description","force_full":false,"force_wrap":false,"full_open":true,"full_single_active":true,"clean_content":null,"deep_links":false,"clean_content_level":"basic_tags","autostop_enabled":false,"autostop_heading":"h6","autostop_heading_show":true,"force_breakpoint":true,"force_breakpoint_value":768,"placement_selector":"","placement_position":"append","content_before_tabs":null},
        template: '{{ template.name }}',
        productHandle: {% if product.handle == blank %}false{% else %}'{{ product.handle }}'{% endif %},
        events: {},
        request_locale: '{{ request.locale.iso_code }}',
        shop_locale: '{{ shop.locale }}',
        on: function(e, cb) {
          if (e === 'ready' && this.isReady) return cb.call(this);
          var callbacks = this.events[e] || [];
          callbacks.push(cb);
          this.events[e] = callbacks;
        }
      };
      var s = window.Station.Apps.Tabs.settings;
      s.polyfill = false;
      s.clean_content_nodes = ['div', 'span', 'section', 'article'];
      s.fix_known_issues = true;
      s.show_content_before = {% if template.name == 'product' or template.name == 'index' %}true{% else %}false{% endif %};
      s.show_content_after = {% if template.name == 'product' or template.name == 'index' %}true{% else %}false{% endif %};
      s.full_scroll_sync_enabled = true;
      s.init_on_load = true;
    
      !function(){var N=document,B="station-tabs",e="Attribute",h="mod-full-width",l="mod-hide-focus",g="is-active",u="is-initialized",v="aria-selected",m="aria-expanded",f="aria-hidden",d="aria-labelledby",b="tabindex",S=B+"-link",D=B+"-content",H=B+"-content-inner",p="data-"+B+"-app",j=B+"-data-item",w="role",y="false",k="true",t="!important",i="beforebegin",r="afterend",_="layout",I="breakpoint",s="Invalid parameter:",c="addEventListener",o="removeEventListener",O="appendChild",n="classList",M="createElement",z="get"+e,T="getBoundingClientRect",E="getElementById",x="has"+e,L="insertAdjacentElement",P="querySelector",R=P+"All",C="set"+e,q=window.Station.Apps.Tabs,F=q.settings,$=q.order,a=null,A=null,V=W();function W(){return window.innerWidth}function U(e){return"function"==typeof e}function G(e){return"string"==typeof e}function J(e){return"number"==typeof e}function X(e){return"object"==typeof e}function K(e){return e instanceof Element||e instanceof HTMLDocument}function Q(e,t){return!!e[n]&&e[n].contains(t)}function Y(e,t){return e[n].add(t)}function Z(e,t){return e[n].remove(t)}function ee(e,t){return e.getAttribute(t)}function te(e,t){return e.hasAttribute(t)}function ne(e,t,n){e.setAttribute(t,n)}function oe(e,t){e.removeAttribute(t)}function ae(e){return console.warn(e),!1}function ie(e){return console.error(e),!1}function re(e,t){t=t||document;return t?t.querySelectorAll(e):[]}function se(e,t){t=t||document;return t?t.querySelector(e):null}function ce(e){e&&e.remove()}function le(e,t,n){return e.insertAdjacentElement(n||"beforeend",t)}function ue(e,t){t=t||"tabs";return t.length&&(t+="-"),"data-"+t+e}function de(e){var t=N[M]("style");t.innerHTML=e,N.head[O](t)}q.trigger=function(e,t){e=this.events[e];!e||e.length<1||e.forEach(function(e){e.call(q,t)})};function fe(e){var t=(e||"").replace(/^#/,"").replace(/^st-(link-)?/,""),n=t.lastIndexOf("_"),o=t.substring(0,n),e=t.substring(n+1).split("-"),n=0<parseInt(e[0],10)?"_"+e[0]:"";return{id:t,slug:o,vanityId:o,scope:parseInt(e[0],10),index:parseInt(e[1],10),suffix:n,hash:"#"+o+n}}function pe(e,t,n){for(var o=be({key:"hash"},n),a=0;a<e.length;a++)if(fe(e[a].id)[o.key]===t)return e[a];return!1}function he(e,t,n){if(e[x](p)&&t.length)for(var o=e[R](t.join(",")),a=o.length-1;0<=a;a--){var i=o[a].parentNode,r=(i.nodeName||"").toLowerCase();if(!i[x](p)&&(!n||-1!==n.indexOf(r))){we(i),he(e,t,n);break}}}function ge(o,e,a){var i=N[M]("div"),t=o[z](ue("type")),n=[];if(i.id=B+"-"+e,i.className=B+" is-loading",a.replace){var r=a.productData||document.body;try{var s=r.querySelector('#station-tabs-product-json[type="application/json"]'),c=JSON.parse(s.textContent)}catch(e){return!1}o.innerHTML=c.productDescriptionHTML}var l=F.autostop_enabled?o[P](F.autostop_heading+":last-of-type"):null;function u(e,t,n){se("."+D,e).id="st-"+n,e.prepend(_e(t,n))}q.cleanContent(o);var d=o.childNodes,f=d.length-1;if(l)for(var p=f;0<=p;p--)if(d[p]===l){f=p-1;break}if(F.product_autosplit)for(p=f;0<=p;p--){var h=d[p];h.nodeName===F.product_autosplit_heading.toUpperCase()&&h.textContent.trim().length&&n.push(h)}if(!function(){if(a.showDescriptionTab){if(F.hide_single_description_tab)if(0===re("."+j).length&&0===n.length)return;return 1}}()||n.push(F.product_description_tab_title||"Description"),s=n.length,n.length&&(!t||"specific"===t)){i.prepend(Ie());for(p=f;0<=p;p--){var g=d[p];if(g===n[0]){n.shift();var v=g.textContent,m=ke(ye(v),n.length,e),b=F.allow_html_in_headings;if(Array.isArray(b)&&b.length){for(var w=re(":not("+b.join(", ")+")",g),y=w.length;y--;)we(w[y]);v=g.innerHTML}if(u(i,v,m),ce(g),!n.length)break;i.prepend(Ie())}else{m=se("."+H,i);m.insertBefore(g,m.firstChild)}}G(n[0])&&(c=ke(ye(n[0]),0,e),u(i,n[0],c))}if(l&&o===l.parentNode?(o.insertBefore(i,l),F.autostop_heading_show||o.removeChild(l)):o[O](i),!t||"general"===t){for(var k={},_=[],I=s,p=0;p<$.length;p++){var T=$[p],E=(r=a.productData||document.body)[P]("#"+B+"-data-"+T);E&&(0<(T=parseInt(E[z]("data-position"),10))&&!k[T]?(k[T]=E,_.push(T)):(Ae(i,E,I,e),I++))}_.sort(function(e,t){return e-t});for(p=0;p<_.length;p++)Ae(i,k[_[p]],I,e,_[p]),I++}for(var x=document[R](["."+H+" ."+D,"."+H+" ."+S].join(", ")),p=x.length-1;0<=p;p--){var L,C=x[p];Q(C.parentNode,B)||((L=C[P]("."+H))&&we(L),we(C))}var A=a.productData||document.body;return["content-before","content-after"].forEach(function(e){var t="content-before"===e,n=t?"showContentBefore":"showContentAfter",e=se("."+B+"-"+e,A);a[n]&&e&&(e=e.cloneNode(!0),le(t?i:o,e,t?"beforebegin":"beforeend"),e.style.display="block")}),i}function ve(e,n,o,t){var a,i,r=n[0],s=n[n.length-1];n.forEach(function(e,t){e.id===o.id&&(a=n[t+1],i=n[t-1])});var c,l=Q(e,h);switch(t){case 37:l||((c=i||s).focus(),Le(c));break;case 38:l&&(i||s).focus();break;case 39:l||((c=a||r).focus(),Le(c));break;case 40:l&&(a||r).focus();break;case 36:r.focus(),l||Le(r);break;case 35:s.focus(),l||Le(s);break;case 13:case 32:Le(o)}}var me=function(e,t){if(e)for(var n=e,o=0;o<n.length;o++)n[o].style.height=t||n[o].scrollHeight+"px"},be=function(e){e=e||{};for(var t=1;t<arguments.length;t++)if(arguments[t])for(var n in arguments[t])arguments[t].hasOwnProperty(n)&&(e[n]=arguments[t][n]);return e},we=function(e){for(;e.firstChild;)e.parentNode.insertBefore(e.firstChild,e);e.remove()},ye=function(e){var t="àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;",n=new RegExp(t.split("").join("|"),"g");return e.toString().toLowerCase().replace(/\s+/g,"-").replace(n,function(e){return"aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnooooooooprrsssssttuuuuuuuuuwxyyzzz------".charAt(t.indexOf(e))}).replace(/&/g,"").replace(/[^\w\-]+/g,"").replace(/\-\-+/g,"-").replace(/^-+/,"").replace(/-+$/,"").replace(/^\d/,"tab-$&")},ke=function(e,t,n){return(e||"tab-"+(t+1))+"_"+n+"-"+t},_e=function(e,t){var n=document[M]("a");return n.href="#"+t,n.id="st-link-"+t,n.className=S,n.innerHTML="<span>"+e+"</span>",n},Ie=function(e){var t=document[M]("div");return t.className=D,t.innerHTML='<div class="'+H+'"></div>',e&&(t.id=e,t[C](d,"st-link-"+e)),t},Te=function(e,t){for(var n=e.length-1;0<=n;n--)e[n][C](b,"-1");t[C](b,"0")},Ee=function(e,t,n){if(e&&t){for(var o=e.length-1;0<=o;o--)"st-link-"+n!==e[o].id&&(Z(e[o],g),te(e[o],v)&&ne(e[o],v,y),te(e[o],m)&&ne(e[o],m,y));for(o=t.length-1;0<=o;o--)"st-"+n!==t[o].id&&(Z(t[o],g),ne(t[o],f,k))}},xe=function(n,o){F.full_scroll_sync_enabled&&(cancelAnimationFrame(A),A=requestAnimationFrame(function e(){var t=o[T]().top-n;t<0&&window.scrollBy(0,t),A=requestAnimationFrame(e)}))},Le=function(e,t){var n,o,a,i,r,s,c,l,u,d;e&&(n=be({animate:!0,deepLink:F.deep_links},t),(o=q.getTab(e))&&(a=o.id,i=o.link,r=o.content,s=(u=o.wrapper)[R]("."+S),c=Q(u,h),l=u[R]("."+S+"."+g),t=u[R]("."+D+"."+g),(e=n.scrollIntoView)&&(u={behavior:"smooth",block:"center"},d=X(e)?be(u,e):u,setTimeout(function(){i.scrollIntoView(d)})),Q(i,g)?c?(n.animate&&me([r]),setTimeout(function(){Ee([i],[r])},20),n.deepLink&&history.replaceState(null,document.title,window.location.pathname+window.location.search)):Ee(l,t,a):(c?F.full_single_active&&(n.animate&&(me(t),n.scrollIntoView||(xe(i[T]().top,i),setTimeout(function(){cancelAnimationFrame(A)},400))),Ee(l,t)):(Ee(l,t),Te(s,i)),ne(i,c?m:v,k),n.animate&&c&&me([r]),Y(i,g),Y(r,g),r[C](f,y),n.deepLink&&history.replaceState(null,document.title,o.hash),n.skipCallback||(q.trigger("open",o),document.dispatchEvent(new CustomEvent("stationTabOpen",{detail:o})),c&&n.animate||document.dispatchEvent(new CustomEvent("stationTabOpened",{detail:o}))))))},Ce=function(e){var t,n;e&&(t=window.location.hash,n={deepLink:!1,animate:!1,skipCallback:!0},(t=pe(e.links,t))&&F.deep_links?Le(t,n):F.full_open&&Le(e.links[0],n))},Ae=function(e,t,n,o,a){var i,r;t&&(r=e[R]("."+S),i=t[P]("."+S),t=t[P]("."+D),i=i.cloneNode(!0),t=t.cloneNode(!0),o=ke(ye(i.textContent.trim()),n,o),i.id="st-link-"+o,i.href="#"+o,t.id="st-"+o,r=r[a-1],a&&r?(e.insertBefore(i,r),e.insertBefore(t,r)):(e[O](i),e[O](t)))};function Ne(e){e.preventDefault(),e.stopPropagation();e=q.getTab(this);Y(e.wrapper,l),Le(e)}function Be(e){var t=e.which;if(-1!==[9,13,32,35,36,37,38,39,40].indexOf(t)){for(var n,o,a=document[R]("."+B+"."+l),i=0;i<a.length;i++)Z(a[i],l);Q(e.target,S)&&9!==t&&(e.preventDefault(),e.stopPropagation(),o=(n=q.getTab(e.target)).wrapper[R]("."+S),ve(n.wrapper,o,e.target,t))}}function Se(e){var t;"height"===e.propertyName&&(this.style.removeProperty("height"),cancelAnimationFrame(A),t=q.getTab(e.target),Q(e.target,g)&&document.dispatchEvent(new CustomEvent("stationTabOpened",{detail:t})))}function De(e){if((e||{}).links){document[o]("keydown",Be),document[c]("keydown",Be);for(var t=e.links.length-1;0<=t;t--)e.links[t][o]("click",Ne),e.links[t][c]("click",Ne);for(t=e.panels.length-1;0<=t;t--)e.panels[t][o]("transitionend",Se),e.panels[t][c]("transitionend",Se)}}window[c]("resize",function(e){a&&clearTimeout(a),a=setTimeout(function(){V!==W()&&(function(){for(var e=q.getInstances(),t=0;t<e.length;t++){for(var n=q.getInstance(e[t]),o=n.panels,a=0;a<o.length;a++)o[a].style.removeProperty("height");q.setLayout(n)}}(),V=W())},300)},!1),q.initInstance=function(e,t,n){var a=e;G(e)&&(a=document[P](e));var e=t||{},i=n||function(){};if(U(t)&&(i=t,e={}),!K(a)){var o="Valid instance not found";return ie(o),i(null,new Error(o))}if(Q(a,u))return i(q.getInstance(a));var o={showDescriptionTab:G(o=a[z](ue("show-description-tab")))?"false"!==o:-1!==["product","index"].indexOf(q.template)&&F.product_description_tab,showContentBefore:G(o=ee(a,ue("show-content-before")))?"false"!==o:F.show_content_before,showContentAfter:G(o=a[z](ue("show-content-after")))?"false"!==o:F.show_content_after,replace:!!G(o=a[z](ue("replace","station-tabs")))&&"false"!==o},r=be(o,e);q.instanceId=q.instanceId||0;var s=q.instanceId;q.instanceId++,Y(a,u),a[x](p)||a[C](p,""),G(r.layout)&&a[C](ue(_),r.layout),J(r.breakpoint)&&a[C](ue(I),r.breakpoint);o="productHandle",e=r[o]||a[z](ue("product",B))||"";function c(){var e=ge(a,s,r);if(!e){var t="Wrapper could not be constructed";return ie(t),i(null,new Error(t))}var n=F.placement_selector,t=F.placement_instance_index||0;s===t&&n&&0<n.trim().length&&(o=q.moveInstance(a,n.trim(),{position:"prepend"===F.placement_position?"afterbegin":"beforeend"}));var o,n=q.getInstance(o||a);!function(e){Y(e.wrapper,l);for(var t=e.links.length-1;0<=t;t--){var n=e.links[t];n[C]("aria-controls",n.id.replace(/^st-link/,"st"))}for(t=e.panels.length-1;0<=t;t--){var o=e.panels[t];o[C](d,o.id.replace(/^st/,"st-link"))}}(n),De(n),Ce(o=n),q.setLayout(o),Z(e,"is-loading"),Y(e,"is-ready"),Y(a,"is-ready"),document.dispatchEvent(new CustomEvent("stationTabsInstanceReady",{detail:n})),i(n)}e.length&&e!==q[o]?(Y(a,"is-hidden"),q.fetchDataByProduct(e,function(e,t){r.productData=e||document.createElement("div"),Z(a,"is-hidden"),c()})):c()},q.init=function(e,t,n){var o=e||null,a=t||{},i=n||function(){};U(t)&&(i=t,a={}),U(e)?(o=null,i=e):e&&-1!==e.constructor.toString().indexOf("Object")&&(o=null,a=e);function r(n){if(!s[n])return document.dispatchEvent(new CustomEvent("stationTabsReady",{detail:c})),i(c),0;q.initInstance(s[n],a,function(e,t){c.push(e||t),r(n+1)})}var s=o||q.getInstances(),c=[];r(0)},q.setLayout=function(e){for(var t=be({},e),n=void 0===t.instance?q.getInstances():[t.instance],o=0;o<n.length;o++){var a=q.getInstance(n[o]),i=a.instance,r=a.links,s=a.panels,c=a.wrapper;if(r.length){G(t.layout)&&ne(i,ue(_),t.layout),J(t.breakpoint)&&ne(i,ue(I),t.breakpoint);var l=Q(c,h),u=re("."+S+"."+g,i),d=se('[role="tablist"]',c);switch(function(e){e=ee(e,ue(_));return e||(F.force_full?"vertical":F.force_wrap?"horizontal":F.force_breakpoint?I:"automatic")}(i)){case"vertical":l=!0;break;case"horizontal":l=!1;break;case"breakpoint":l=+(ee(i,ue(I))||F.force_breakpoint_value)>W();break;default:Z(c,h);var f=r[0].offsetHeight/2,p=r[0][T](),l=r[r.length-1][T]().top-p.top>f}l?(Y(c,h),r.forEach(function(e){ne(e,b,"0"),oe(e,w),oe(e,v)}),s.forEach(function(e){ne(e,w,"region")}),d&&ce(d)):(function(){Z(c,h),d||(d=N.createElement("div"),c.prepend(d));var e=Array.from(r).map(function(e){return e.id});ne(d,"role","tablist"),ne(d,"aria-owns",e.join(" ")),r.forEach(function(e){ne(e,w,"tab"),oe(e,m)}),s.forEach(function(e){ne(e,w,"tabpanel")})}(),(a=window.location.hash).length&&F.deep_links&&((a=pe(r,a))&&(u=[a])),u=[u[0]||r[0]]),u.length&&(Ee(r,s),u.forEach(function(e){Le(e,{deepLink:!1,animate:!1,skipCallback:!0})}))}}},q.fetchDataByProduct=function(e,t,n){var o,a=n||function(){};function i(){if(200!==this.status){var e="Undefined error";return 404===this.status&&(e="Product not found"),void a(null,new Error(e))}var t=this.responseText.match(/<!-- begin station data -->([\s\S]*?)<!-- end station data -->/)[1];s();e=document[M]("div");t&&(e.innerHTML=t),a(e)}function r(e){s(),a(null,e)}function s(){o.removeEventListener("load",i),o.removeEventListener("error",r)}U(t)&&(a=t),G(e)?(e=window.location.origin+"/products/"+e,(o=new XMLHttpRequest)[c]("load",i),o[c]("error",r),o.open("GET",e),o.send()):a(null,new Error("Handle is not valid"))},q.getInstances=function(e){var t=document[R]("div["+p+"]");return!t.length||!n in t[0]?!J(e)&&[]:J(e)?t[e]||!1:t},q.getInstance=function(e){var t=e;if((e||{}).instance)return e;if(!(t=!e||J(e)?q.getInstances(e||0):t))return!1;e={instance:t,initialized:Q(t,u),wrapper:null,links:[],panels:[]};return e.initialized&&(e.wrapper=t[P]("."+B),e.links=e.wrapper[R]("."+S),e.panels=e.wrapper[R]("."+D)),e},q.getTab=function(e){var t=G(e)?{id:e}:e;if(!e)return ie(s+' "tab" is not defined.'),!1;if(t.slug)return t;var n='Tab with ID "'+t.id+'" is not found.',o=fe(t.id),a=document[E](B+"-"+o.scope);if(!a)return ae(n);e=document[E]("st-link-"+o.id),t=document[E]("st-"+o.id);return e&&t?{id:o.id,instance:a.parentElement,wrapper:a,link:e,content:t,instanceIndex:o.scope,tabIndex:o.index,suffix:o.suffix,vanityId:o.vanityId,hash:o.hash}:ae(n)},q.getTabByTitle=function(e,t){var n="undefined"!==t?q.getInstance(t).links:document[R]("."+B+" ."+S);if(n&&n.length){t=ye(e),t=pe(n,t,{key:"slug"});return t?q.getTab(t):(console.warn("Tab with title %s is not found",e),!1)}},q.moveTab=function(e,t,n){var o=be({after:!1},n);if(!e||!t)return ie(s+" "+(e?'"position"':'"tab"'));var a=q.getTab(e),n=t;a.instance[L]("beforeend",a.link),J(t)&&(t>(e=a.wrapper[R]("."+S)).length&&(o.after=!0),n=e[Math.max(0,Math.min(t-1,e.length-1))]);n=q.getTab(n);return o.after?(n.content[L](r,a.link),a.link[L](r,a.content)):(n.link[L](i,a.content),a.content[L](i,a.link)),q.setLayout(),a},q.moveInstance=function(e,t,n){n=be({position:"beforeend"},n),t=G(t)?se(t):t,e=q.getInstance(e).instance;if(!e||!t)return e;var o=e.cloneNode(!1);le(t,o,n.position),oe(e,p);for(var a=e.childNodes,i=null,r=0;r<a.length;r++)if(Q(a[r],"station-tabs-content-before")||Q(a[r],B)){i=r;break}for(;a[i];)o[O](a[i]);return q.getInstance(o)},q.open=function(e,t){e=q.getTab(e);return!!e&&(Q(e.link,g)||Le(e,t||{}),e)},q.openByTitle=function(e,t){e=q.getTabByTitle(e);return!!e&&q.open(e,t)},q.openByIndex=function(e,t,n){n=null;if(!J(e))return ie(s+" index is not a number");(K(t)||J(t)||(t||{}).instance)&&(n=t);n=q.getInstance(n);return!!n.links[e]&&q.open(n.links[e])},q.close=function(e){var t=q.getTab(e);if(!t)return!1;var n=t.link;if(!Q(n,g))return!1;var o=t.content,e=q.getInstance(t.instance);return Z(n,g),Z(o,g),ne(o,f,k),Q(e.wrapper,"mod-full-width")?ne(n,m,y):(ne(n,v,y),ne(n,b,"-1"),ne(e.links[0],b,"0")),t},q.removeElementsOutsideTabs=function(e){G(e)?document[R](e).forEach(function(e){e.closest(".station-tabs-content, .station-tabs-content-after, .station-tabs-content-before")||ce(e)}):ie(s+" selector is not a string")};q.cleanContent=function(e,t){var n,o=q.settings,a=be({tags:o.clean_content_nodes,cleanLevel:o.clean_content_level},t||{}),i=o.autostop_enabled?se(o.autostop_heading+":last-of-type",e):null;if("no_attrs"===a.cleanLevel)for(var r=re("div,span",e),s=r.length-1;0<=s;s--)r[s].attributes.length||we(r[s]);else a.cleanLevel&&(n=[],t=ee(e,ue("type")),o.product_autosplit&&"general"!==t&&n.push(o.product_autosplit_heading),i&&n.push(o.autostop_heading),he(e,n,"basic_tags"===a.cleanLevel?a.tags:null))},q.autoFixes={brooklyn:function(){var e=".product-single__meta";de(e+" {position:relative "+t+";left: auto "+t+";top:auto "+t+";height:auto "+t+";z-index:auto "+t+";}"+e+"--wrapper > div:last-child:empty {display: none "+t+";}")},galleria:function(){var e=".product-page-row";de([e+" .desktop-flex-wrapper",e+" .product-item-wrap",e+" .product-gallery-product-template"].join(", ")+"{position:relative "+t+";height:auto "+t+";}")},narrative:function(){de(".product__form-wrapper{position:relative "+t+";top:initial "+t+";}")},prestige:function(){var e=new ResizeObserver(function(e){var t=e[0].target,n=t.closest(".Product__Wrapper"),e=parseInt(getComputedStyle(t).paddingTop,10)||0;n.style.minHeight=t.offsetHeight-e+"px"}),t=document.querySelector(".Product__Info");t.querySelector("[data-station-tabs-app]")&&e.observe(t)},warehouse:function(){var e="expandable-content",t=document[P](".product-block-list__item--description ."+e);t&&t[P]("div["+p+"]")&&(Z(t,e),Z(t,e+"--expandable"))}};function He(e){re("["+p+"]:not(."+u+") ["+p+"].is-ready").forEach(function(e){$els=re('[class^="station-tabs"',e);for(var t=$els.length;t--;)we($els[t]);we(e)}),F.init_on_load&&(document[c]("stationTabsReady",function e(t){var n;document[o]("stationTabsReady",e),q.settings.keepSourceData||ce(document.getElementById("station-tabs-data")),"product"===q.template&&(n=((window.Shopify||{}).theme||{}).theme_store_id,F.fix_known_issues&&n&&(n={730:"brooklyn",829:"narrative",851:"galleria",855:"prestige",871:"warehouse"}[n.toString()])&&q.autoFixes[n]()),q.isReady||(q.isReady=!0,q.trigger("ready"))}),q.init(),window[c]("load",function(e){for(var t=q.getInstances(),n=0;n<t.length;n++)De(q.getInstance(t[n]));q.setLayout()})),document.head[O](document[E](B+"-main-style")),document.body[O](document[E](B+"-main-script")),document.dispatchEvent(new CustomEvent("stationTabsAPIReady",{detail:q}))}var je=F.polyfill;je||window.document.documentMode?(console.log("Loading polyfill"),(e=document.createElement("script")).src=G(je)?je:"https://polyfill.io/v3/polyfill.min.js?features="+["default","NodeList.prototype.forEach","NodeList.prototype.%40%40iterator","fetch"].join("%2C"),e.onload=function(){He()},e.onerror=function(){He(new Error("Failed to load script "+src))},document.head.appendChild(e)):He()}();
    })();
  </script>
{% endif %}