<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  	<meta name="theme-color" content="{{ settings.color_brand }}">
  	<link rel="canonical" href="{{ canonical_url }}">

	{% include 'network' %}

  	{% if settings.favicon != blank %}
	    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

  	<!-- Title and description ================================================== -->
  	<title>
    	{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  	</title>

  	{% if page_description %}
  		<meta name="description" content="{{ page_description | escape }}">
  	{% endif %}

  	{% include 'social-meta-tags' %}

  	<!-- JS before CSSOM =================================================== -->
  	<script type="text/javascript">
		theme = {};
	</script>

  	<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  	<script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
  	<script src="{{ 'ajax-cart.min.js' | asset_url }}" defer="defer"></script>

  	<!-- CSS ================================================== -->
	{% include 'css-include' %}

	<!-- JS after CSSOM=================================================== -->
  	<script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
  	<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

  	{% if settings.anim_load %}
		<script src="{{ 'scrollreveal.min.js' | asset_url }}"></script>
	{% endif %}
  	{% if template contains 'customers' %}
  		<script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
  	{% endif %}

	<!-- Header hook for plugins ================================================== -->
  	{{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-anim-fade="{{ settings.anim_fade }}" data-anim-load="{{ settings.anim_load }}" data-anim-interval-style="{{ settings.anim_interval_style }}" data-anim-zoom="{{ settings.anim_zoom }}" data-anim-interval="{% if settings.anim_load_style == 'interval' %}true{% else %}false{% endif %}">
	<script type="text/javascript">
		//loading class for animations
		document.body.className += ' ' + 'js-theme-loading';
		setTimeout(function(){
			document.body.className = document.body.className.replace('js-theme-loading','js-theme-loaded');
		}, 300);
	</script>

	<div class="page-container">
		{% section 'password-header' %}

		<div class="main">
			<div class="password-header__link">
			    <a href="#" class="password-header__link-link link link--arrow js-password-pop-trigger">{{ 'general.password_page.password_link' | t }}</a>
			</div>
			{{ content_for_layout }}
		</div>

		<footer role="contentinfo" id="footer" class="password-footer">
			<div class="container">
				<div class="password__admin">
					<div class="rte">{{ 'general.password_page.admin_link_html' | t }}</div>
				</div>
				<div class="password__powered-by">
				  	{% capture shopify %}
				    	<a class="password__shopify-link" href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
				    		<svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 150 43"><path fill="#222" d="M33.3 8.9s0-.2-.1-.3c-.1-.1-.2-.1-.2-.1l-3.4-.2-2.1-2.1c-.1-.1-.2-.1-.3-.1l-1.8 36.1L38 39.5 33.3 8.9zm-7.5-3l-.9.3c-.6-1.6-1.3-2.8-2.3-3.5-.7-.5-1.5-.7-2.3-.6l-.6-.6c-.9-.7-2.1-.9-3.6-.3C11.8 2.7 10 8.3 9.3 11l-3.8 1.1s-.9.2-1.1.5c-.2.3-.3 1-.3 1L.9 37.9l23.6 4.4L26.3 6c-.2-.2-.4-.1-.5-.1zm-5.7 1.7L16 8.9c.5-2.1 1.6-4.3 3.6-5.1.4 1 .5 2.5.5 3.8zm-3.5-5.2c.9-.3 1.6-.3 2.1 0-2.7 1.2-3.9 4.3-4.4 6.9l-3.3 1c.7-2.5 2.3-6.7 5.6-7.9zm2.3 17.9c-.2-.1-.4-.2-.7-.3-.3-.1-.5-.2-.8-.3-.3-.1-.6-.1-1-.2h-1.1c-.3 0-.6.1-.9.2-.3.1-.5.2-.7.4-.2.2-.3.4-.4.6-.1.2-.2.5-.2.7 0 .2 0 .4.1.6l.3.6.6.6c.2.2.5.4.8.6.5.3.9.6 1.4 1 .5.4.9.8 1.2 1.3.4.5.7 1 .9 1.7.2.6.3 1.3.3 2.1-.1 1.2-.3 2.3-.8 3.2-.4.9-1.1 1.6-1.8 2.1s-1.6.8-2.5.9c-.9.1-1.9.1-2.8-.2-.5-.1-.9-.3-1.3-.4l-1.2-.6c-.3-.2-.7-.4-.9-.6-.3-.2-.5-.4-.7-.7L7.8 30c.2.2.4.3.7.5.3.2.6.4.9.5.3.2.7.3 1 .5.4.1.7.2 1.1.3h.8c.2-.1.5-.2.6-.3.2-.1.3-.3.4-.5.1-.2.1-.4.2-.7 0-.2 0-.5-.1-.7-.1-.2-.2-.4-.3-.7-.1-.2-.3-.4-.6-.7-.2-.2-.5-.5-.9-.7-.4-.3-.8-.6-1.2-1-.3-.4-.7-.7-.9-1.2-.2-.4-.4-.9-.6-1.4-.1-.5-.2-1-.2-1.6 0-1 .2-1.8.6-2.6.3-.8.8-1.5 1.4-2.2.6-.6 1.3-1.2 2.2-1.6.9-.4 1.8-.7 2.9-.9.5-.1 1-.1 1.4-.1.5 0 .9 0 1.3.1s.8.1 1.1.2l.9.3-1.6 4.8zm2.6-13.1v-.5c0-1.3-.2-2.4-.5-3.2.3 0 .6.1.9.3.8.5 1.3 1.6 1.7 2.8l-2.1.6zM45.3 29.6c.9.5 2.5 1.1 4.1 1.1 1.4 0 2.2-.8 2.2-1.7 0-.9-.5-1.5-2.1-2.4-1.9-1.1-3.3-2.6-3.3-4.6 0-3.5 3-6 7.4-6 1.9 0 3.4.4 4.2.8l-1.2 3.5c-.7-.3-1.8-.7-3.1-.7-1.4 0-2.3.6-2.3 1.7 0 .8.7 1.4 1.9 2 2 1.1 3.6 2.6 3.6 4.7 0 4-3.2 6.2-7.7 6.1-2.1 0-4-.6-4.9-1.2l1.2-3.3zm12.4 4.5l4.9-25.2h5l-1.9 9.8h.1c1.3-1.6 3.1-2.7 5.3-2.7 2.6 0 4.1 1.7 4.1 4.5 0 .9-.1 2.2-.4 3.3l-2 10.3h-5l1.9-9.9c.1-.7.2-1.5.2-2.2 0-1.1-.4-1.8-1.6-1.8-1.6 0-3.3 2-4 5.3l-1.7 8.7h-4.9v-.1zM93.3 23c0 6.1-4 11.4-9.9 11.4-4.5 0-6.9-3.1-6.9-6.9 0-6 4-11.4 10-11.4 4.7 0 6.8 3.3 6.8 6.9zm-11.7 4.3c0 1.8.7 3.2 2.4 3.2 2.7 0 4.1-4.7 4.1-7.7 0-1.5-.6-3-2.4-3-2.6.1-4.1 4.7-4.1 7.5zm10.5 13.8L95.6 23c.4-2 .8-4.7 1-6.6h4.4l-.3 2.8h.1c1.3-1.9 3.3-3 5.3-3 3.7 0 5.2 2.9 5.2 6.3 0 6-3.9 12.1-9.7 12.1-1.2 0-2.4-.5-2.9-.5h-.1l-1.4 7h-5.1zm7.2-11.2c.5.4 1.2.7 2.1.7 2.8 0 4.7-4.6 4.7-7.8 0-1.3-.5-2.7-2-2.7-1.7 0-3.4 2-4 5.1l-.8 4.7zm12.2 4.2l3.4-17.7h5.1l-3.4 17.7h-5.1zm6.5-19.6c-1.4 0-2.4-1.1-2.4-2.6 0-1.6 1.3-2.9 2.9-2.9 1.5 0 2.5 1.1 2.5 2.6 0 1.8-1.4 2.9-3 2.9zm2.9 19.6l2.7-14h-2.3l.7-3.7h2.3l.1-.8c.4-2.1 1.2-4.2 2.9-5.6 1.3-1.1 3.1-1.6 4.9-1.6 1.2 0 2.1.2 2.7.4l-1 3.9c-.4-.1-.9-.3-1.6-.3-1.7 0-2.7 1.5-3 3.2l-.2.8h3.5l-.7 3.7h-3.5l-2.7 14h-4.8zm18-17.7l.8 7.9c.2 1.8.4 3.3.4 4.2h.1c.4-.9.8-2.3 1.5-4.2l3.1-7.9h5.2l-6.1 13.1c-2.2 4.5-4.3 7.7-6.6 9.9-1.8 1.7-3.9 2.5-4.9 2.7l-1.4-4.2c.8-.3 1.9-.7 2.8-1.4 1.2-.8 2.1-1.9 2.7-3 .1-.3.2-.5.1-1.9l-3-15.2h5.3z"/></svg>
				    	</a>
				  	{% endcapture %}
				  	<span>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</span>
				</div>
			</div>
		</footer>

	</div>

	<div class="password-pop js-password-pop mfp-hide">
	    <div class="password-pop__wrapper">
	        <div class="password-pop__head">
	            <div class="password-pop__label">
	                <h3 class="password-pop__label-title">{{ 'general.password_page.login_form_password_placeholder' | t }}</h3>
	            </div>
	        </div>
	        <div class="password-pop__inner">
	        	{% form 'storefront_password' %}
		            {{ form.errors | default_errors }}
		            <label for="password" class="u-hidden-visually">{{ 'general.password_page.login_form_password_label' | t }}</label>
	             	<input type="password" name="password" id="Password" class="js-password-input">
	                <button type="submit" name="commit" class="c-btn c-btn--arrow c-btn--primary c-btn--full">
	                  	{{ 'general.password_page.login_form_submit' | t }}
	                </button>
		         {% endform %}
	        </div>
	    </div>
	</div>
  	<!-- Venue theme by Safe As Milk - http://safeasmilk.co/ -->
	<!-- Theme version 4.4.1 -->
</body>
</html>
