<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LRJRWWRNV2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LRJRWWRNV2');
</script>
  
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="theme-color" content="{{ settings.color_brand }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {% include 'network' %}
  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {% include 'social-meta-tags' %}
  <script type="text/javascript">
    theme = {};
    theme.t = {};
    theme.map = {};
    theme.cart_ajax = {{ settings.cart_ajax }};
    {%- assign enabled_currencies_size = shop.enabled_currencies | size -%}		
    theme.multiple_currencies = {% if settings.show_multiple_currencies and enabled_currencies_size < 2 %}true{% else %}false{% endif %};
  </script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'ajax-cart.min.js' | asset_url }}" defer="defer"></script>
  {% include 'css-include' %}
  <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  {% if settings.anim_load %}
  <script src="{{ 'scrollreveal.min.js' | asset_url }}"></script>
  {% endif %}
  {% if template contains 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
  {% endif %}
  {% capture cfh %}{{ content_for_header }}{% endcapture %}
  {% include 'var-theme' %}
  {%- render 'bold-common' -%}
  {{ 'bold-brain-widget.css' | asset_url | stylesheet_tag }}
  {% include 'judgeme_core' %}
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-anim-fade="{{ settings.anim_fade }}" data-anim-load="{{ settings.anim_load }}" data-anim-interval-style="{{ settings.anim_interval_style }}" data-anim-zoom="{{ settings.anim_zoom }}" data-anim-interval="{% if settings.anim_load_style == 'interval' %}true{% else %}false{% endif %}">
  <script type="text/javascript">
    document.body.className += ' ' + 'js-theme-loading';
    setTimeout(function(){
      document.body.className = document.body.className.replace('js-theme-loading','js-theme-loaded');
    }, 300);
  </script>
  <div class="page-transition"></div>
  <div class="page-container">
    {% section 'mobile-drawer' %}
    {% section 'header' %}
    <div class="main">
      {{ content_for_layout }}
  {% capture stn_app %}{% include 'station-tabs' %}{% endcapture %}{% if stn_app contains 'Station.Apps' %}{{ stn_app }}{% endif %}
    </div>
    {% section 'footer' %}
    {% section 'promo-pop' %}
    {% section 'age-checker' %}
  </div>
  {% if settings.search_enable %}
  <div class="search-draw js-search-draw mfp-hide">
    <div class="search-draw__wrapper">
      <div class="search__head">
        <div class="search__label">
          <h3 class="search__label-title">{{ 'general.search.label' | t }}</h3>
        </div>
      </div>
      <div class="search__inner">
        <form action="/search" method="get" class="search__form" role="search">
          <input type="hidden" name="type" value="{{ settings.search_limit }}">
          <input type="search" name="q" class="search__form-input js-search-input" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
          <button type="submit" class="search__form-submit">
            <i class="icon icon--search" aria-hidden="true"></i>
            <span class="icon-fallback__text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
        {% assign search_nav = settings.search_linklist %}
        {% if linklists[search_nav].links.size > 0 %}
        <div class="search__nav">
          <h4 class="search__nav-title h5">{{ linklists[search_nav].title }}</h4>
          <ul class="search__nav-items o-list-bare">
            {% for link in linklists[search_nav].links %}
            <li class="search__nav-item">
              <a href="{{ link.url }}" class="search__nav-link">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="ajaxcart-draw js-cart-draw mfp-hide">
    <div class="ajaxcart-draw__wrapper js-cart-draw-inner">
      <div class="ajaxcart-draw__scroll">
        <div class="ajaxcart__head">
          <div class="ajaxcart__label">
            <h3 class="ajaxcart__label-title">{{ 'cart.general.title' | t }}</h3>
          </div>
        </div>
        <div id="CartContainer"></div>
        <div id="EmptyCart">
          <div class="ajaxcart-empty">
            <h5 class="ajaxcart-empty__title">{{ 'cart.general.empty' | t }}</h5>
            <span class="emoji ajaxcart-empty__emoji">
              <i class="icon icon--sad"></i>
            </span>
            <a href="/collections/all" class="c-btn c-btn--primary c-btn--full">{{ 'cart.general.empty_link' | t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'currencies' %}
  {% include 'ajax-cart-template' %}
  <script>
    theme.ajaxCartInit = function() {
      ajaxCart.init({
        cartContainer: '#CartContainer',
        cartCountSelector: '#CartCount',
        cartCostSelector: '#CartCost',
        emptySelector: '#EmptyCart',
        {% if settings.cart_ajax %}
        triggerSelector: '.js-cart-trigger',
        formSelector: '.js-product-form',
        addToCartSelector: '.js-product-add',
        {% endif %}
        moneyFormat: {{ shop.money_format | json }}
      });
      };
  </script>
  {% include 'subscribe-it-helper' %}
  {{ content_for_footer }}
 {% include 'smile-initializer' %}

</body>
</html>