{% capture bg_class %}{% if section.settings.show_bg %}section--has-bg{% else %}section--no-bg{% endif %}{% endcapture %}
{% capture margin_class %}{% if section.settings.link == blank and section.settings.show_bg == false %}section--mb-s{% endif %}{% endcapture %}

<section class="section section--{{ section.id }} {{ bg_class }} {{ margin_class }}" data-section-id="{{ section.id }}" data-section-type="home-collection">
    <div class="container{% if section.settings.mobile_layout == 'carousel' %} container--mob-0{% endif %}">
        {% if section.settings.title != blank %}
        <div class="section__title section__title--center">
            <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
        </div>
        {% endif %}

        <div class="section__bg{% unless section.settings.show_bg %} section__bg--white{% endunless %}"></div>

        <div class="home-products home-products--{{ section.settings.mobile_layout }} js-home-products" data-section-id="{{ section.id }}">
            {%- assign collection = collections[section.settings.collection] -%}

            {% case section.settings.grid %}
                {% when 2 %}
                    {% if section.settings.mobile_layout == 'carousel' %}
                        {%- assign grid_item_width = 'u-1/2@tab' -%}
                    {% elsif section.settings.grid_mobile == '2' %}
                        {%- assign grid_item_width = 'u-1/2' -%}
                    {% else %}
                        {%- assign grid_item_width = 'u-1/1 u-1/2@phab' -%}
                    {% endif %}
                {% when 3 %}
                    {% if section.settings.mobile_layout == 'carousel' %}
                        {%- assign grid_item_width = 'u-1/3@tab' -%}
                    {% elsif section.settings.grid_mobile == '2' %}
                        {%- assign grid_item_width = 'u-1/2 u-1/3@tab' -%}
                    {% else %}
                        {%- assign grid_item_width = 'u-1/1 u-1/2@phab u-1/3@tab' -%}
                    {% endif %}
                {% when 4 %}
                    {% if section.settings.mobile_layout == 'carousel' %}
                        {%- assign grid_item_width = 'u-1/3@tab u-1/4@desk' -%}
                    {% elsif section.settings.grid_mobile == '2' %}
                        {%- assign grid_item_width = 'u-1/2 u-1/3@tab u-1/4@desk' -%}
                    {% else %}
                        {%- assign grid_item_width = 'u-1/1 u-1/3@tab u-1/4@desk' -%}
                    {% endif %}
            {% endcase %}

            {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

            <div class="home-products__grid">
                <div class="o-layout o-layout--center{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.grid == 4 %} o-layout--small{% endif %}{% if section.settings.mobile_layout == 'grid' and section.settings.grid_mobile == '2' %} o-layout--small@tab-down{% endif %}{% if section.settings.mobile_layout == 'carousel' %} layout-slider js-layout-slider js-layout-slider-{{ section.id }}{% endif %}">
                    
                    {% for product in collection.products limit: product_limit %}
                        
                        <div class="o-layout__item {{ grid_item_width }}">
                            {% include 'product-grid-item', page: 'home' %}
                        </div>

                    {% else %}

                        {% for i in (1..product_limit) %}
                            <div class="o-layout__item {{ grid_item_width }}">
                                <a href="#" class="product-link home-products__link">
                                    <div class="product home-products__item product--{{ settings.product_grid_align }}">
                                        <div class="product__media u-bg-{{ settings.product_grid_bg }}">
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'product-' | append: current | placeholder_svg_tag: 'product__img placeholder-svg' }}
                                        </div>
                                        <div class="product__details product__details--{{ settings.product_grid_text_size }}">
                                            <h3 class="product__title">{{ 'homepage.onboarding.product_title' | t }}</h3>
                                            {% if settings.product_grid_vendor %}
                                                <p class="product__vendor">{{ 'homepage.onboarding.product_vendor' | t }}</p>
                                            {% endif %}
                                            <p class="product__price">
                                                {% include 'product-price' %}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    {% endfor %}

                </div>
            </div>
            
        </div>

        {% unless section.settings.link == blank %}
            <div class="section__link section__link--center">
                <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
            </div>
        {% endunless %}

    </div>
</section>

{% schema %}
{
    "name": "Featured collection",
    "class": "js-section__home-collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured collection"
        },
        {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "select",
            "id": "mobile_layout",
            "label": "Mobile layout",
            "default": "carousel",
            "options": [
                {
                    "value": "carousel",
                    "label": "Carousel"
                },
                {
                    "value": "grid",
                    "label": "Grid"
                }
            ]
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Products per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "select",
            "id": "grid_mobile",
            "label": "Products per row (mobile)",
            "default": "1",
            "options": [
                {
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                }
            ]
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Rows",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Link label",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "checkbox",
            "id": "show_bg",
            "label": "Show background color",
            "default": false
        }
    ],
    "presets": [
        {
            "name": "Featured collection",
            "category": "Collection"
        }
    ]
}
{% endschema %}